body{
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    transition: all 1s;
    color:#424242;
}
a{
    color: inherit;
    text-decoration: none;
}

.container-section {  
    height: 100%;
    width: 100%; 
}
.container-box::after {
    /* Set content to be an attribute on the element */
    content: attr(data-value); 
    position: relative;
    left: 50%;
    top: 15px;
    color: gray;
}

.btn-stop{
    transition: all .5s;
    border: none;
    background: rgb(88, 88, 88);
    color: white;
    padding: 6px;
    border-radius: 4px;
    position: absolute;  
    bottom: 2%;
    font-family: inherit;
    font-size: inherit;
    left: 0;
}
.container-box{
    -webkit-box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
    -moz-box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
    box-shadow: 6px 6px 22px -1px rgba(128, 128, 128, 0.81);
    width: 90%;
    background: #ffffffc7;
    transition: all 1s;
    margin: 14% auto;
    padding: 30px;  
    text-align: center;
    position: relative;
}

.hello-myname{
    font-size: xx-large; 
}

#socil-icons{
    padding: 0;
    color: #585858;
}
#socil-icons li{
    display: inline;
    margin: 0px 5px;
}
 
#socil-icons .iconi{
    font-size: 30px; 
}

.italic-larger-txt{
    font-size: larger; 
    font-style: italic;

}


@keyframes typingEffect {
    from {opacity: 1;}
    to {opacity: 0;}
  }
   
  #typing-effect {   
    animation: typingEffect .5s infinite alternate;
    color: black;
    font-weight: bolder;
  }

  .footer{
    z-index: 1000;
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;   
    text-align: center;
    margin-bottom: 9px;
  }
  @media  (max-width:1000px){
     
  }
